.fa-login-cute-management {
  width: 400px;
}

.fa-login-cute-managementTop {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 54px;
  margin-bottom: 30px;
}

.fa-login-cute-managementMain .submit {
  width: 100%;
}

.fa-login-cute-managementMain label {
  color: var(--primary-color) !important;
  font-size: 17px !important;
  font-weight: 600 !important;
}

.fa-login-cute-managementMainBtns {
  display: flex;
  justify-content: space-between;
}

.fa-login-cute-managementMainBtns label {
  color: #666 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.fa-login-cute-managementBottom {
  color: #666;
  font-size: 12px;
  margin-top: 5vh;
}

.fa-login-cute-member {
  display: flex;
  justify-content: space-between;
}

.fa-login-cute-remember {
}
